<!doctype html>
<html lang="en">

    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- fontAwesome -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">

            <link rel="stylesheet" href="./assets/css/style.css">

    </head>

    <body class="bg-secondary">
        <div id="app">

            <header>
                <nav class="navbar navbar-expand navbar-light bg-light shadow">
                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link active" href="#"
                            aria-current="page"> <h1>my to do list</h1> <span
                                class="visually-hidden">(current)</span></a>
                    </div>
                </nav>
            </header>
            <main>

                <div class="container my-5">
                    <div class="row">
                        <div class="col-5 p-1 d-flex align-items-center justify-content-center">
                            <form @submit.prevent="addThing(newThing)" class="d-flex flex-column w-75">
                                <input type="text" id="new-Thing"
                                    v-model="newThing" placeholder="Aggiungi un attività" class="" >

                                <button class="my-btn my-4" type="submit">AGGIUNGI</button>
                            <h3 v-if="checkEmpty" class="text-warning text-center">Non
                                lasciare il campo vuoto</h3>
                            </form>

                        </div>

                        <div class="col-6">

                            <div class="card">
                                <div class="card-header shadow">
                                    <h3
                                        class="text-info text-uppercase text-center">cosa
                                        resta da fare?</h3>
                                </div>
                                <div class="card-body">

                                    <ul>
                                        <li v-for="(thing,index) in list"
                                            :class="thing.done ? 'text-decoration-line-through' : '' ">
                                            {{thing.text}} <i
                                                @click="removeItem(index)"
                                                class="text-danger fa-solid fa-x"></i><i
                                                @click="thingDone(index)"
                                                class="fa-solid fa-check text-success"></i>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </main>
            <footer>
                <!-- place footer here -->
            </footer>
        </div>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous">
  </script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous">
  </script>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>

</html>